.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: grey;
    border-radius: 5px;
    height: 5rem;
}

.navbarElem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbarElemItem{
    padding: 0 1rem;
}

.navbarElemItem input[type="text"]{
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;    
}

.navbarElemItem input[type="text"]:hover{
    background-color: #f1f1f1;
    color: black;
}

.navbarElemItem i{
    color: orange;
    font-size: 1.5rem;
    cursor: pointer;
}

.groupe-filtre{
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}